:root{
    --mainColor1:#3cac3c;
    --mainColor1RGB:60, 172, 60;
    --subColor1:#121212;
    --subColor2:#8c8c8c;
    --mainTextColor1:#f1f1f1;
    --mainTextColor1RGB:241, 241, 241;
    --mainTextColor2:#1c1c1c;
}