body, html, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  list-style: none;
  color:var(--mainTextColor1)
}


/* 1. Register custom percentage variables so CSS can animate them */
@property --x1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}
@property --y1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --x2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --y2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 160%;
}

/* Change .your-container to body, html, or a specific div class */
body, html {
  background:
    radial-gradient( circle at var(--x1) var(--y1), rgba(var(--mainColor1RGB), 0.4) 0% 40px, transparent ),
    radial-gradient( circle at var(--x2) var(--y2), rgba(var(--mainColor1RGB), 0.4) 0% 0px, transparent 50% 70px)
  ;
  background-color: black;
  background-attachment: fixed;
  overflow-y: auto;          /* Gives you a vertical scrollbar only when needed */
  scrollbar-width: none;     /* Hides the scrollbar for Firefox */
  -ms-overflow-style: none;  /* Hides the scrollbar for old Internet Explorer and Edge */
  transition: background 1s ease-in-out;
  animation: moving-background 8s infinite ease-in-out alternate;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* Hides the scrollbar for Chrome, Safari, and newer Opera/Edge browsers */
.body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

main{
  position: relative;
  padding: clamp(2rem, 4dvw, 4rem);
  padding-top: 4rem;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
}

.song-options{
  margin-left: auto;
  position: relative;
  >button{
    padding:1rem;
    background:transparent;
    &:hover{
        background:var(--subColor1);
        color:var(--mainTextColor1)
    }
  }
  
}


@keyframes moving-background {
  0% {
    --x1: 60%;
    --y1: 0%;
    --x2: 30%;
    --y2: 160%;
  }
  50% {
    --x1: 10%;
    --y1: -10%;
    --x2: 80%;
    --y2: 100%;
  }
  100% {
    --x1: -10%;
    --y1: 20%;
    --x2: 120%;
    --y2: 100%;
  }
}